extend layout

block content
  h1 Login Page
  form
    label(for="email") Email
    input(type='email' placeholder='Email')
    br
    label(for='Password') Password
    input(type='password' placeholder='Password')
    br
    br
    button(type='submit') Submit